<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0-beta1/css/bootstrap.min.css'
        integrity='sha512-o/MhoRPVLExxZjCFVBsm17Pkztkzmh7Dp8k7/3JrtNCHh0AQ489kwpfA3dPSHzKDe8YCuEhxXq3Y71eb/o6amg==' crossorigin='anonymous' />

  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.js' integrity='sha512-pSyYzOKCLD2xoGM1GwkeHbdXgMRVsSqQaaUoHskx/HF09POwvow2VfVEdARIYwdeFLbu+2FCOTRYuiyeGxXkEg=='
          crossorigin='anonymous'></script>

  <link rel="stylesheet" href="css/main.css">
</head>
 
<body>
  <div id="app">
    <div class="container text-center mb-5">
      <div class="d-flex mb-3 border-bottom py-3">
        <div class="me-auto">
          Punti: <span class="points">{{points}}</span><br>
          Velocità: <span class="points">{{250 - speed}}</span>
        </div>
        <button class="btn btn-warning me-2" @click="playOrPause">Play / Pause</button>
        <button class="btn btn-danger" @click="reset">Reset</button>
      </div>

      <h1>Vue Snake</h1>

      <p class="lead">Simple implementation of the famous Snake game, in Vue, JS and CSS.</p>
      <p class="lead">It works pretty well but due to the asyncronicity of JS, the timer that moves the snake,
        could work very bad and would not respect the interval. This depends on what is doing the browser in the meanwhile. Normally this should be
        of 250ms and for each point decreases by 2.</p>
      <p>On Micrsoft Edge this issue happens almost immediately, but on Safari always works perfectly. This could be due to the memory optimization that safari has for the M1 chips.</p>

      <div class="grid-container" :class="{'playing': playing}" ref="gridContainer">
        <div class="grid-row" v-for="(row, rowIndex) in gridMatrix" :data-row="rowIndex">
          <div class="grid-cell" v-for="cell in row" :data-row="rowIndex" :data-cell="cell"
               :class="{'eaten-target': eatenTargets.includes(rowIndex + '-' + cell)}">
            <div class="snake-target" v-if="snakeTargets.includes(rowIndex + '-' + cell)"></div>
            <div class="snake-cell"
                 :data-direction="nextDirection"
                 :class="{
                  'snake-head': snakeMatrix[snakeMatrix.length - 1] === (rowIndex + '-' + cell),
                  'snake-tail': snakeMatrix[0] === rowIndex + '-' + cell
                }"

                 v-if="snakeMatrix.includes(rowIndex + '-' + cell)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <script src="js/vue.js"></script>
</body>

</html>
